@charset "UTF-8";
@media (max-width: 1023px) {
	#sticker-sticky-wrapper {
		display: none;	
	}
	#mobil-menu{
		display: block !important;
	}
	.hauptmenu{
		display: none !important;
	}
	.container-fluid.first-content {
		padding-top: 70px !important;
	}
	p {
		padding: 2px 4px !important;
	}
	h1 {
		font-size: 2em !important;
		padding-top: 3vh !important;
	}
	h2 {
		font-size: 1.4em !important;
	}
	h1.title {
		font-size: 2em;
		text-align: left;
	}
	.fix {
		height: 70px !important;
	}
	.fa-3x {
		font-size: 2em !important;
	}
	.phone {
		top: 20px !important;
		right: 20px !important;
	}
	.menu-button{
		top: 20px !important;
		right: 20px !important;
	}
	.slidebutt {
		font-size: 1.5em !important;
	}
	#testimonials-ul h2 {
		display: none !important;
	}
	.sep {
		display: none !important;
	}
	.bg-slideone {
		padding: 0 !important;
	}
	.max-w {
		width: 100%;
	}
	text.counter {
		line-height: 3;
	}
	.testimonials ul li p {
		margin: 0 !important;
		font-size: 1em !important;
	}
	.selectarrow {
		margin-top: 0px !important;
	}
	.hauptmenu {
		top: 20px !important;
		left: 20px !important;
	}
	.small-call {
		display: block !important;
		z-index: 999;
	}
	.big-call {
		display: none !important;
	}
	.nivo-caption{
		width: 100% !important;
	}
	footer .col-xs-4 {
	width: 100% !important;	
	}
	footer .col-xs-6{
	width: 100% !important;	
	}
	iframe {
	width: 340 !important;
	}
	.mlang{
		display: none;
	}
}